
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-slate-900 antialiased;
  }
}

@layer components {
    .container-custom {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    }
    .btn-primary {
        @apply px-6 py-3 bg-accent text-white font-medium rounded-lg hover:bg-accent-hover transition-colors duration-200 shadow-md hover:shadow-lg transform active:scale-95;
    }
    .section-padding {
        @apply py-16 md:py-24;
    }
}
